MC_VERSION=LATEST
MC_TYPE=VANILLA
MC_PORT=25565
MC_ONLINE_MODE=FALSE
MC_DIFFICULTY=peaceful

MC_SERVER_HOST=mc-server
MC_USERNAME=MCP-Bot

MCP_TRANSPORT=remote
MCP_PORT=3300
HOST=0.0.0.0
PORT=3000
ENABLE_VIEWER=true
MCP_VIEWER_PORT=4000
LOG_LEVEL=info
